:root {
  --primary-color: #0884C3;
  --border-radius: 15px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui;
  background-color: #F7F7F7;
  overflow: scroll;
}

.page-container {
  display: grid;
  place-items: center;
  height: 100dvh;
}

.centered-box {
  width: clamp(320px, 70vw, 900px);
  max-height: calc(100dvh - 15rem);
  aspect-ratio: 4/3;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.text-zone {
  text-align: center;
  flex: 0 0 auto;
}

.text-zone h1 {
  margin-bottom: clamp(1rem, 5vw, 15rem);
  color: var(--primary-color);
  font-size: clamp(2rem, 4vw, 3.125rem);
  font-weight: 600;
}

.drop-zone-container {
  flex: 1;
  min-height: 0;
  background-color: white;
  border-radius: var(--border-radius);
  position: relative;
  padding: clamp(1rem, 4vw, 1.5rem);
}

.drop-zone {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: var(--border-radius);
  border: 2.8px dashed #e4e4e4;
  background-color: #FAFAFA;
}

.drop-zone-content {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drop-zone-icon {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-zone-actions {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.pdf-icon {
  width: 100%;
  height: 80%;
  fill: var(--primary-color);
}

.select-button {
  padding: clamp(0.5rem, 1.5vmin, 0.75rem) clamp(1rem, 2vmin, 1.5rem);
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: clamp(1.2rem, 2.5vmin, 1.75rem);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.select-button:hover {
  background-color: color-mix(in srgb, var(--primary-color) 80%, white);
}

.darg-and-drop-files-hint {
  color: #B1B1B1;
  font-size: 1em;
  margin: 0px;
}